<!doctype html>
<html lang="en">
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129631950-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129631950-1');
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter51247252 = new Ya.Metrika2({
                    id:51247252,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/51247252" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


<!-- Simple Page Needs
================================================== -->
<title>Pavel Adrianov. Data Scientist.</title>
<meta charset="UTF-8">
<meta name="description" content="Pavel Adrianov. Data Scientist. - Resume & vCard">
<meta name="keywords" content="personal, vcard, resume">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% load static %}
<!-- Favicon
================================================== -->
<link href="{% static 'favicon.png' %}" rel="shortcut icon" type="image/x-icon" />

<!-- CSS
================================================== -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
<link rel="stylesheet" href="{% static 'css/reset.css' %}"/>
<link rel="stylesheet" href="{% static 'cubeportfolio/css/cubeportfolio.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/owl.theme.css' %}"/>
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}"/>
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
<link rel="stylesheet" href="{% static 'css/colors/yellow.css' %}" id="color"/>


<!-- Google Web fonts
================================================== -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">

<!-- Font Icons
================================================== -->
<link rel="stylesheet" href="{% static 'icon-fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
<link rel="stylesheet" href="{% static 'icon-fonts/web-design/flaticon.css' %}" />

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>
<body>

<!-- Wrapper -->
<div class="wrapper top_60 container">
<div class="row">

<!-- Profile Section
================================================== -->
<div class="col-lg-3 col-md-4">
    <div class="profile">
        <div class="profile-name">
            <span class="name">Pavel Adrianov</span><br>
            <span class="job">Data Scientist</span>
        </div>
        <figure class="profile-image">
            <img src="{% static 'images/profile.jpg' %}" alt="">
        </figure>
        <ul class="profile-information">
            <li></li>
            <li><p><span>Name:</span> Pavel Adrianov</p></li>
            <li><p><span>Birthday:</span> 11 August 1987</p></li>
            <li><p><span>Email:</span> <a href="emailto:pavel@adrianov.pro">pavel@adrianov.pro</a></p></li>
        </ul>
        <div class="col-md-12">
            <button class="site-btn icon" onclick="window.open('{% static 'files/Adrianov_Pavel_Resume.pdf' %}','_blank');" >
                Download Cv <i class="fa fa-download" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

<!-- Page Tab Container Div -->
<div id="ajax-tab-container" class="col-lg-9 col-md-8 tab-container">

<!-- Header
================================================== -->
<div class="row">
    <header class="col-md-12">
        <nav>
            <div class="row">
                <!-- navigation bar -->
                <div class="col-md-8 col-sm-8 col-xs-4">
                    <ul class="tabs">
                        <li class="tab">
                            <a class="home-btn" href="#home"><i class="fa fa-home" aria-hidden="true"></i></a>
                        </li>
                        <li class="tab"><a href="#home">HOME</a></li>
                        <li class="tab"><a href="#resume">RESUME</a></li>
                        <li class="tab" style="display: none;"><a href="#portfolio">PORTFOLIO</a></li>
                        <li class="tab" style="display: none;"><a href="#contact">CONTACT</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-8 dynamic">
                    <button onclick="window.location.href='emailto:pavel@adrianov.pro'" class="pull-right site-btn icon hidden-xs">Hire Me <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    <div class="hamburger pull-right hidden-lg hidden-md"><i class="fa fa-bars" aria-hidden="true"></i></div>
                    <div class="hidden-md social-icons pull-right">
                        <a class="fb" href="https://www.linkedin.com/in/pavel-adrianov/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a class="" href="https://github.com/adrianoff" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Page Content
    ================================================== -->
    <div class="col-md-12">
        <div id="content" class="panel-container">

            <!-- Home Page
            ================================================== -->
            <div id="home">
                <!-- Text Section -->
                <div class="row">
                    <section class="about-me line col-md-12 padding_30 padbot_45">
                    <div class="section-title"><span></span><h2>About Me</h2></div>
                    <p class="top_30">
                        Hi! <b>I  am senior software developer with 12 year of solid experience in IT.</b>
                        My main interest for now is machine learning and data science. Also I have a lot of experience in PHP and Python development.
                        Looking for product manager, team leader, data-scientist position. I am familiar with machine learning algorithms and python libraries
                        such as Pandas, Numpy, Scikit-learn, XGBoost, etc.

                        Also I have a lot of experience with PHP frameworks such as Symfony and Laravel. I have build several highload and big data projects.

                        <br><br>
                        Checkout my accomplishments and certificates: <br>
                        <a href="https://www.coursera.org/account/accomplishments/specialization/7YVTA6XT5Z9H" target="_blank">
                            Machine Learning and Data Science Specialization.
                        </a><br>

                        <a href="https://www.coursera.org/account/accomplishments/records/3MCLDSDVCQRY" target="_blank">
                            Introduction to Machine Learning
                        </a><br>

                        <a href="https://www.coursera.org/account/accomplishments/records/TAP4VKTPCLP8" target="_blank">
                            Big Data Analysis: Hive, Spark SQL, DataFrames and GraphFrames
                        </a><br>

                        <a href="https://www.coursera.org/account/accomplishments/records/W59WWG5P47VF" target="_blank">
                            Big Data Essentials: HDFS, MapReduce and Spark RDD
                        </a><br>

                        <br>
                        You can contact with me via <b>email</b> for hiring or any other questions.
                </section>
                </div>
                <!-- My Services Section -->
                <div class="row">
                    <section class="services line graybg col-md-12 padding_50 padbot_50">
                    <div class="section-title bottom_45"><span></span><h2>My Skills</h2></div>
                    <div class="row">
                        <!-- a service -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="service">
                                <div class="icon">
                                    <i class="flaticon-py"></i>
                                </div>
                                <span class="title">Python Development</span>
                                <p class="little-text">I have been working with Python and PHP for 10 years. My favorite frameworks is Django and Symfony 3.</p>
                            </div>
                        </div>
                        <!-- a service -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="service">
                                <div class="icon">
                                    <i class="flaticon-analysis"></i>
                                </div>
                                <span class="title">Machine Learning</span>
                                <p class="little-text">Machine Learning is my main competence. I have 3 year of experience in data analysis.</p>
                            </div>
                        </div>
                        <!-- a service -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="service">
                                <div class="icon">
                                    <i class="flaticon-linux-logo"></i>
                                </div>
                                <span class="title">Linux</span>
                                <p class="little-text">I use linux as my main OS since 2005. I have several my own servers with Ubuntu on board.</p>
                            </div>
                        </div>
                        <!-- a service -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="service">
                                <div class="icon">
                                    <i class="flaticon-database"></i>
                                </div>
                                <span class="title">Big Data</span>
                                <p class="little-text">Big Data is also one of my interests and I am looking for the opportunity to become better in this area.</p>
                            </div>
                        </div>
                    </div>
                </section>
                </div>
                <!-- Skills Section -->
                <div class="row">
                    <section class="design-skills col-md-6 padding_60 padbot_50">
                        <div class="section-title bottom_45"><span></span><h2>Machine Learning Skills</h2></div>
                        <ul class="skill-list">
                            <li>
                                <h3>Pandas</h3>
                                <div class="progress">
                                    <div class="percentage" style="width:90%;"></div>
                                </div>
                            </li>
                            <li>
                                <h3>Numpy</h3>
                                <div class="progress">
                                    <div class="percentage" style="width:90%;"></div>
                                </div>
                            </li>
                            <li>
                                <h3>XGBoost</h3>
                                <div class="progress">
                                    <div class="percentage" style="width:80%;"></div>
                                </div>
                            </li>
                            <li>
                                <h3>Probability and Statistics</h3>
                                <div class="progress">
                                    <div class="percentage" style="width:70%;"></div>
                                </div>
                            </li>
                            <li>
                                <h3>NLP</h3>
                                <div class="progress">
                                    <div class="percentage" style="width:70%;"></div>
                                </div>
                            </li>
                        </ul>
                    </section>
                    <section class="code-skills col-md-6 padding_60">
                        <div class="section-title bottom_45"><span></span><h2>Code Skills</h2></div>
                        <ul class="skill-list">
                            <li>
                                <h3>Python</h3>
                                <div class="progress">
                                    <div class="percentage" style="width:100%;"></div>
                                </div>
                            </li>
                            <li>
                                <h3>R</h3>
                                <div class="progress">
                                    <div class="percentage" style="width:50%;"></div>
                                </div>
                            </li>
                            <li>
                                <h3>PHP</h3>
                                <div class="progress">
                                    <div class="percentage" style="width:100%;"></div>
                                </div>
                            </li>
                            <li>
                                <h3>C++</h3>
                                <div class="progress">
                                    <div class="percentage" style="width:30%;"></div>
                                </div>
                            </li>
                            <li>
                                <h3>Java</h3>
                                <div class="progress">
                                    <div class="percentage" style="width:70%;"></div>
                                </div>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>

            <!-- Resume Page
            ================================================== -->
            <div id="resume">
                <!-- Resume Section -->
                <div class="row">
                    <section class="education">
                    <div class="section-title top_30"><span></span><h2>Resume</h2></div>
                        <div class="row">
                            <!-- Working History -->
                            <div class="working-history col-md-6 padding_15 padbot_30">
                                <ul class="timeline col-md-12 top_30">
                                    <li><i class="fa fa-suitcase" aria-hidden="true"></i><h2 class="timeline-title">Working History</h2></li>

                                    <li><h3 class="line-title">Software Developer and Data Scientist in Bridgestone TireConnect.</h3>
                                        <span>2015 - Present</span>
                                        <p class="little-text">Develop and support huge e-commerce project.</p>
                                    </li>

                                    <li><h3 class="line-title">Senior Python Developer - TeamAve.</h3>
                                        <span>2013 - 2015</span>
                                        <p class="little-text">Working on a large e-commerce project. Was involved in the integration of payment systems, scaling the project, optimizing for high loads.</p>
                                    </li>

                                    <li><h3 class="line-title">PHP developer. Team Lead. - Ameria.</h3>
                                        <span>2011 - 2013</span>
                                        <p class="little-text">Was engaged in the development of large projects on Symfony2.</p>
                                    </li>

                                    <li><h3 class="line-title">PHP developer. Team Lead. - NewVision.</h3>
                                        <span>2009 - 2011</span>
                                        <p class="little-text">The work was carried out over several high-load projects with large volumes of data (Exchange of links, Multithreaded indexing of third-party sites, processing of large amounts of data).</p>
                                    </li>

                                    <li><h3 class="line-title">PHP developer. - DepositFiles.</h3>
                                        <span>2008 - 2009</span>
                                        <p class="little-text">The responsibility was to optimize databases for high loads (postgresql, mysql), code optimization, load distribution on servers, setting up nginx, redis.</p>
                                    </li>

                                    <li><h3 class="line-title">Lead Developer. - Skidki-ua.com.</h3>
                                        <span>2007 - 2008</span>
                                        <p class="little-text">Lead developer of the project skidki-ua.com. The project developed by me on symfony 1.4.</p>
                                    </li>

                                    <li><h3 class="line-title">PHP Developer Freelance.</h3>
                                        <span>2006 - 2007</span>
                                        <p class="little-text">Worked as a freelancer. Carried out orders for various CMS (RunCMS, Joomla, Typo3, WordPress, etc)</p>
                                    </li>
                                </ul>
                            </div>
                            <!-- Education History -->
                            <div class="education-history col-md-6 padding_15 padbot_30">
                                <ul class="timeline col-md-12 top_30">
                                    <li><i class="fa fa-graduation-cap" aria-hidden="true"></i><h2 class="timeline-title">Education History</h2></li>

                                    <li><h3 class="line-title">Vernadsky Taurida National University Simferopol.</h3>
                                        <span>2004 - 2009</span>
                                        <p class="little-text">Faculty of Mathematics, Apply Math.</p>
                                    </li>

                                    <li><h3 class="line-title">School #7 in Simferopol.</h3>
                                        <span>1994 - 2004</span>
                                        <p class="little-text">School with in-depth study of English.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- Portfolio Page
            ================================================== -->
            <div id="portfolio" class="row bottom_45">
                <section class="col-md-12">
                    <div class="col-md-12 content-header bottom_15">
                        <div class="section-title top_30 bottom_30"><span></span><h2>Portfolio</h2></div>
                    </div>
                    <div id="grid-container" class="top_60">
                    </div>
                    <!-- load more button -->
                </section>
            </div>

            <!-- Contact Page
            ================================================== -->
            <div id="contact">
                <div class="row">
                    <!-- Contact Informations -->
                    <section class="contact-info col-md-6 padbot_45">
                        <div class="section-title top_15 bottom_30"><span></span><h2>Contact Informations</h2></div>
                        <ul>
                            <li><span>E-mail:</span> pavel@adrianov.pro</li>
                            <li><span>Skype:</span> adrianovpavel</li>
                            <li>
                                <div class="social-icons top_15">
                                    <a class="fb" href="https://www.linkedin.com/in/pavel-adrianov/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    <a class="" href="https://github.com/adrianoff" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </div>
                            </li>
                        </ul>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </section>
                </div>
            </div>

        </div><!-- Content - End -->
     </div> <!-- col-md-12 end -->
</div><!-- row end -->
<!-- Footer
================================================== -->
<footer>
    <div class="footer col-md-12 top_30 bottom_30">
        <div class="name col-md-4 hidden-md hidden-sm hidden-xs">Pavel Adrianov.</div>
        <div class="copyright col-lg-8 col-md-12">2018</div>
    </div>
</footer>

</div> <!-- Tab Container - End -->
</div> <!-- Row - End -->
</div> <!-- Wrapper - End -->

<!-- Javascripts
================================================== -->
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.easytabs.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>


</body>
</html>

<!--
            {% block content %}
            {% endblock %}
-->